{% extends 'default/index.html.twig' %}

{% block title %}Hello admin {% endblock %}

{% block left %}


    {% if message is defined %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-5 bg-success">
            Add a new author
            {{ form_start(addform) }}
            {{ form_widget(addform) }}
            {{ form_end(addform) }}
        </div>
        <div class="col-7 bg-primary">
            {% for author in authors %}
                <b>{{ author.name }}</b><br>
                {{ author.comment }}<br>
                {{ author.books|length }} books from this author <br>
                Rating: {% if author.rating is defined %}{{ author.rating }} {% else %} 0 {% endif %} ({% if author.votes is defined %}{{ author.votes }}{% else %}0{% endif %} votes)<br>
            {%  endfor %}
        </div>
    </div>


{% endblock %}