{% extends 'default/index.html.twig' %}

{% block title %}Hello admin {% endblock %}

{% block body %}


    {% if message is defined %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
    {% endif %}
        <div class="col-6">
            Add a new book
            {{ form_start(addform) }}
            {{ form_widget(addform) }}
            {{ form_end(addform) }}
        </div>
        <div class="col-6">
            {% for book in books %}
                <b>{{ book.title }}</b><br> --> <a href="#"><i class="material-icons">shopping_cart</i></a>


                {{ book.description }}<br>
                Genres: {% for genre in book.genres %}
                            {{ genre }},
                        {% endfor %}<br>
                From {{ book.author.name}}<br>
                Rating: {% if book.rating is defined %}{{ book.rating }} {% else %} 0 {% endif %} ({% if book.votes is defined %}{{ book.votes }}{% else %}0{% endif %} votes)<br>
            {%  endfor %}
        </div>


{% endblock %}