{% extends 'default/index.html.twig' %}

{% block title %}Hello admin {% endblock %}

{% block body %}


        {% if message is defined %}
        <div class="alert alert-primary" role="alert">
         {{ message }}
    </div>
        {% endif %}
    <div class="row">
        <div class="col-6">
            Add a new genre
            {{ form_start(addform) }}
            {{ form_widget(addform) }}
            {{ form_end(addform) }}
        </div>
        <div class="col-6">
            {% for genre in genres %}
                <b>{{ genre.name }}</b><br>
                {{ genre.description }}<br>
                {{ genre.books|length }} books of this genre <br>
            {%  endfor %}
        </div>
    </div>


{% endblock %}