<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bookstore{% endblock %}</title>
        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
        <script src="{{ asset('build/jqmycart.js') }}"></script>
        <script src="{{ asset('build/app.js') }}"></script>
        <script src="{{ asset('build/starsjs.js') }}"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

        {% block stylesheets %}
            <style>@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

                .starrating > input {display: none;}  /* Remove radio buttons */

                .starrating > label:before {
                    content: "\f005"; /* Star */
                    margin: 2px;
                    font-family: FontAwesome;
                    display: inline-block;
                }

                .starrating > label
                {
                    color: #222222; /* Start color when not clicked */
                }

                .starrating > input:checked ~ label
                { color: #ffca08 ; } /* Set yellow color when star checked */

                .starrating > input:hover ~ label
                { color: #ffca08 ;  } /* Set yellow color when star hover */



            </style>
            <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
            <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('build/app.css')}}">
            <link rel="stylesheet" href="{{ asset('build/global.css') }}">
            <link rel="stylesheet" href="{{ asset('build/shop-hp.css') }}">
            <link rel="stylesheet" href="{{ asset('build/starscss.css') }}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% endblock %}
        <style>
            .badge-notify{
                background:red;
                position:relative;
                top: -20px;
                right: 10px;
            }
            .my-cart-icon-affix {
                position: fixed;
                z-index: 999;
            }
            .checked {
                color: orange;
            }
        </style>
    </head>
    <body>
    {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">Bookstore</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        {% if (app.user is not null) %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('profile') }}">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a id="seeCart" data-toggle="modal" data-target="#cartModal" class="nav-link" href=""><i class="fa fa-shopping-cart" aria-hidden="true"></i> See cart</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('logout') }}">Log out</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('connect_google') }}">Log in with Google</a>
                            </li>
                        {% endif %}

                        {% if(app.user.role is defined and app.user.role == 'ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin_index') }}">Admin</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock navbar %}
        <div class="container">
            <div class="row">
                <div id="menu" class="col-lg-3">
                    <br><br>

                        <div class="list-group">
                            <a id="0" href="{{ path("list_books") }}" class="list-group-item leftMenu">All</a>
                            {% for genre in app.session.get('genres') %}
                            <a id="{{ genre.id }}"  href="{{ path("list_books", {genreId:genre.id}) }}" class="list-group-item leftMenu">{{ genre.name }}</a>
                            {% endfor %}
                        </div>

                </div>
                <!-- /.col-lg-3 -->


                <div class="col-lg-9">
                    {% block body %}

                    {% endblock body %}

                    <!-- /.row -->

                </div>
                <!-- /.col-lg-9 -->

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    <div id="cartModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times</span>
                    </button>
                </div>
                <div id="cartList" class="modal-body">

                        <table width="100%" id="booksOnCart">
                            <thead>
                            <tr>
                                <th width="55%">Book</th><th width="20%">Quantity</th><th width="25%">Subtotal</th>
                            </tr>
                            </thead>
                            <tbody id="bookList">
                            {% if app.user is not null %}
                            {% for detail in app.user.cart.details %}
                            <tr id="{{ detail.book.id }}">
                                <td>{{ detail.book.title }} ({{ detail.book.author.name }})</td><td> {{ detail.quantity }}</td><td id="subtotal"><b>{{ detail.subtotal }}</b></td>
                            </tr>
                            {% endfor %}



                            </tbody>
                        </table>
                    <div id="cartTotal">
                        Total: {{ app.user.cart.total }}
                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="clearCart" type="button" class="btn btn-secondary">Clear cart</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {

            {% if app.user is not null %}
            {% endif %}


            $('#clearCart').click(function (e) {
                e.preventDefault();
                $.ajax({
                    url: '{{ path('clear_cart') }}',
                    success: function(){
                        $('#bookList tr').remove();
                        $('#cartTotal').replaceWith('Total: 0');
                    },
                    error: function(){
                    }
                });
            });
        });
    </script>
        {% block javascripts %}
                {% endblock %}

    </body>
</html>
